<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Random Steam Game</title>
</head>
<body>
<div class="wrapper">
  <h1><%= suggest_game(@game_title) %></h1>

  <a href="<%= game_url(@game_id) %>">
    <img src="<%= game_header(@game_id, @game_img_url) %>" alt="[<%= @game_id %>]">
  </a>

  <div>
    <p>Played: <%= total_playtime(@game_playtime) %></p>
  </div>

  <div>
    <a href="">One more time!</a>
  </div>
</div>
</body>
</html>